.main {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 87px;

  padding: 0 10px;
}
.section {
  align-items: center;
  height: 90.5vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sectionnames {
  font-size: 25px;
  color: #657786;
  font-weight: bold;
}
.sectiondata {
  font-size: 55px;
  font-weight: bold;
}
