.main {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 87px;
  height: 92vh;
  padding: 0 10px;
}
.section {
  align-items: center;
  height: 92vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title {
  font-weight: bold;
  font-size: 35px;
  color: #01070a;
}
.sectionnames {
  font-size: 25px;
  color: #657786;
  font-weight: bold;
}
.sectiondata {
  font-size: 55px;
  font-weight: bold;
}
@media only screen and (max-width: 530px) {
  .sectionnames {
    font-size: 15px;
  }
  .sectiondata {
    font-size: 45px;
    font-weight: bold;
  }
  .title {
    font-weight: bold;
    font-size: 25px;
  }
}
