.header {
  cursor: pointer;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  height: 8vh;
  background-color: #f5f8fa;
  border-bottom: 1px solid #e1e8ed;
}
.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
  font-size: 20px;
  height: 8vh;

  padding: 0px 10px;
}

.navlogo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}
.secondnavdiv {
  display: flex;
  gap: 20px;
}
.secondnavdiv > p:hover {
  color: rgb(29, 157, 231);
}
.secondnavdiv > p:active {
  color: red;
}
@media only screen and (max-width: 440px) {
  .nav {
    font-size: 15px;
    padding: 15px 10px;
  }
  .secondnavdiv {
    gap: 15px;
  }
}
